.vertical-timeline-element{
    background: rgba(192, 122, 122, 0);
    .bounce-in{
        border-radius: 20px;
    }
}
/* .vertical-timeline-element-content{
    background: black;
} */
.experience{
    padding-bottom: 50px;
    text-align: center;
}
.experiences{
    font-size: 45px;
}
.description{
    color: #B8B8B8;
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    margin: 14px 0 75px 0;
}
p{
    text-align: center;
}
h3, h4{
    color: black;
}
.para-m{
    color: black;
    text-align: left;
}

.vertical-timeline-element-title{
    text-align: left;
    font-size: 20px;
    color: blueviolet;
}
.vertical-timeline-element-subtitle{
    text-align: left;
    font-size: 15px;
    color: grey;
}